* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.container {
  width: 700px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid #ccc;
  border-radius: 10px ; */
  overflow: hidden;
}

input {
  position: absolute;
  visibility: hidden;
}
label {
  display: inline-block;
  background-color: rgb(102, 102, 231);
  width: 20px;
  height: 20px;
  border: 3px solid gray;
  border-radius: 50%;
}
.slider_image {
  display: flex;
  width: 2800px;
}

.slider_image div {
  width: 100%;
  height: 500px;
}
.slider_text {
  width: 70%;
  padding: 20px 0;
  display: flex;
  overflow: hidden;
}

.slider_text span {
  width: 700px;
}

#r1:checked ~ .slider_image .s1,
#r1:checked ~ .slider_text .s1 {
  margin-left: 0;
  transition: all 0.5s ease;
}
#r2:checked ~ .slider_image .s1,
#r2:checked ~ .slider_text .s1 {
  margin-left: -700px;
  transition: all 0.5s ease;
}
#r3:checked ~ .slider_image .s1,
#r3:checked ~ .slider_text .s1 {
  margin-left: -1400px;
  transition: all 0.5s ease;
}
#r4:checked ~ .slider_image .s1,
#r4:checked ~ .slider_text .s1 {
  margin-left: -2100px;
  transition: all 0.5s ease;
}

#r1:checked ~ .slider_bullet .s1 {
  border-color: tomato;
}
#r2:checked ~ .slider_bullet .s2 {
  border-color: tomato;
}
#r3:checked ~ .slider_bullet .s3 {
  border-color: tomato;
}
#r4:checked ~ .slider_bullet .s4 {
  border-color: tomato;
}

span {
  display: inline-block;
  box-sizing: border-box;
}

label:hover {
  cursor: pointer;
  background-color: #fff;
  border: 3px solid rgb(102, 102, 231);
}
